body, html {
    margin: 0px;
    width: 350px; 
    height: 520px;
    background-color: #FFF;
}

#enable-extension { 
    width: 80%;
    padding: 10px;
    border: none;
    background: #ec4464;
    color: white;
    cursor: pointer;
  }

/* .manageDiv {
    display: none;
} */

.header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid darkred;
    white-space: nowrap;
  }

  .custom-width .list {
    width: 100px;
  }

  .tabMargin {
    margin-left: 30px;
    margin-top: 5px;
    width: 130px;
  }
  .tabSelectWidth li {
    width: 300px !important;
  }

  .recMarandDisplay {
    display: none; 
    margin-bottom: 5px
  }

  .microphoneTimer {
    display:none; 
    margin-top:20px; 
    position: relative; 
    width: auto; 
    border: none; 
    margin-left: 190; 
    font-weight: bold;
    font-size: large; 
    border-radius: 4px; 
    background-color: #eee;
  }

  .audio_Tab{
    display:none; 
    position: static; 
    margin-top:20px; 
    text-align: center; 
    font-weight: bold;
    font-size: large;
    background-color: #eee;
    width: auto; 
    border-radius: 4px;
  }


  .tabAudio{
    text-align: center;
    color:#000;
    background:#fff ;
    }
    .tabAudio:hover{
        text-align: center;
        color:#000;
        background:#eee ;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
        text-align: center;
        color:#000 !important;
        background:#eee !important ;
        border: solid 1px #D3DADF;
    }

    .tabVideo{
    text-align: center;
    color:#000;
    background:#fff ;

    }
  
  
  .header img {
    height: 64px;
    margin: 0 20px 0 0;
  }

.buttonContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .buttonStarting {
    display: none;
    color: #fff;
    text-align: center;
    padding: 9px;
    /* border: 2px solid darkred; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #2D89F4;
    border-radius: 5px;
    /* width: 30%; */
    width: 291px;
    margin-top: 18px;
    position: absolute;
    margin-left: 162px;
  }
  .buttonSaving {
    display: none;
    color: #fff;
    text-align: center;
    padding: 12px;
    /* border: 2px solid darkred; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #2D89F4;
    border-radius: 5px;
    width: 207px;
    margin-top: 20px;
    position: absolute;
    margin-left: 75px;
    
  }

  .micRecCancel {
    display: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* border: 2px solid darkred; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: darkred;
    border-radius: 5px;
    width: 65px;
    margin-top: -49px;
    position: absolute;
    margin-left: 225px;
    
}
    .micRecCancel:hover {
    color: #fff;
    background-color: red;
    border: none;
    }

  .buttonCancel {
    display: none;
    color: #fff;
    text-align: center;
    padding: 12px;
    /* border: 2px solid darkred; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: darkred;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    position: relative;
    margin-left: 372px;
    
  }
  
  .buttonCancel:hover {
    color: #fff;
    background-color: red;
  }


.dropbtn {
    background-color: #2D89F4;
    color: rgb(249, 247, 247);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-left: 162px;
    font-weight: 600;
    margin-top: -30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #abbcf7;
  }


.recordbtn {

    background-color: #2D89F4;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 291px;
    margin-top: 20px;
    position: relative;
    margin-left: 0px;
}
.recordbtnSave {

    background-color: #2D89F4;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 216px;
    margin-top: 20px;
    position: relative;
    margin-left: 0px;
}




#stopbtnwidth {
    /* width: 29%; */
}
/* #audiobtnrecord {
    width: 17%;
} */
#navigation {
    width: 100%;
    /* height: 50px; */
}
#logo {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 14px;
}
#logo img {
    vertical-align: bottom;
    margin-right: 7px;
    margin-bottom: -1px;
}
#awards {
    position: absolute;
    top: 16px;
    right: 53px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    margin-top: -7px;
}
#awards img {
    width: 22px;
    margin-top: 7px;
}
#more {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    margin-top: -7px;
}
#more img {
    margin-top: 7px;
}
#more:hover, #awards:hover {
    background-color: #E7EAEC;
    cursor: pointer;
}
#tabs {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #E7E9EB;
    background-color: #FFF;
}
#recording-type {
    display: table;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.type {
    display: table-cell;
    text-align: center;
    width: 33%;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
.type:not(.type-active):hover {
    opacity: .7;
    cursor: pointer;
}
.type p {
    color: #7B81A5;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
}
#tab-only img {
    width: 45px;
    height: 30.3px;
}
#tab-only.type-active img {
    margin-bottom: .36px!important;
    margin-right: .8px;
} 
#tab-only.type-active p {
    margin-top: 7px;
}
#desktop:not(.type-active) img {
    margin-left: -2px;
} 
#desktop img {
    margin-bottom: -3px;
}
.type-active p {
    color: #2D89F4!important;
}
.type-active:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    border-radius: 2px 2px 0px 0px;
    background-color: #2D89F4;
    margin-left: 22px;
    margin-right: auto;
    position: absolute;
    top: 178px;
}
#body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #69708A;
    margin-bottom: 11px;
    display: block;
    margin-top: 19px;
}
.ni-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #D3DADF;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    width: 290px;
}

.ni-select li {
    /* width: 90%!important; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nice-select {
    margin-bottom: 16px;
}
.nice-select, .nice-select ul {
    width: 100%!important;
}
.nice-select li {
    /* width: 90%!important; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nice-select ul {
    /* max-height: 100px!important; */
    overflow-y: auto!important;
}
.current {
    text-overflow: ellipsis;
    width: 100%!important;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
#mic-label {
    margin-top: 7px!important;
}
label input {
  display: none;
}
label span {
  height: 18px;
  width: 18px;
  background-color: #E7EAEC;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  vertical-align: bottom;
  margin-right: 5px;
}
label p {
    margin: 0px;
    display: inline-block;
    color: #69708A;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
label p:hover {
    opacity: .6;
    cursor: pointer;
}
label p:after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #D3DADF;
    margin-top: 1px;
}
label span:hover {
    background-color: #DEE4E8!important;
}
[type=checkbox]:checked + span:before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #2D89F4;
  background-image: url('../assets/images/checkmark.svg')!important;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border-radius: 5px;
  left: 0;
  background-size: 11px 11px;
}
[type=checkbox]:checked:hover + span:before:hover {
  background-color: #267ADC!important;
}
.check {
    color: #000!important;
    font-weight: normal!important;
    margin-top: 2px;
    display: inline-block;
}
#record {
    width: 100%;
    background: #2D89F4;
    border-radius: 5px;
    height: 40px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    outline: none;
    border: 0px;
    font-size: 15px;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
    margin-top: 0px;
}
.record-disabled {
    opacity: .6!important;
    pointer-events: none;
}
.record-stop {
    background-color: #F42D5D!important;
}
#advanced {
    font-family: Roboto;
    color: #2D89F4;
    font-weight: 500;
    font-size: 14px;
    display: block;
    text-align: center;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
#advanced:hover, #record:hover {
    cursor: pointer;
    opacity: .7;
}
#countdown-select {
    top: 420px;
    left: 35px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    height: 92px;
    width: 87px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
}
.countdown, #more-select a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #E7E9EB;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    text-decoration: none;
    color: #000;
    display: block;
}
.countdown:hover, #more-select a:hover {
    background-color: #F5F6F8;
    cursor: pointer;
}
.countdown:first-child, #more-select a:first-child {
    border-radius: 5px 5px 0px 0px;
}
.countdown:last-child, #more-select a:last-child {
    border-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}
.countactive {
    visibility: visible!important;
    transform: scale(1)!important;
    opacity: 1!important;
}
#more-select {
    z-index: 2;
    top: 40px;
    right: 25px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    height: 92px;
    width: 140px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
}
.strong {
    font-weight: 700;
}
#awards-open {
    z-index: 2;
    top: 40px;
    right: 20px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
    width: 280px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 150%;
}
#awards-open a {
    color: #2D89F4;
    text-decoration: none;
    font-weight: 500;
}
#awards-open img {
    width: 18px;
    margin-bottom: -3px;
}